
<table dojoAttachPoint="listSelectorTable" class="ListSelectorTable">
	<tr>
		<td class="tdListContainer">
			<div class="list">
				<div dojoAttachPoint="containerListBody" style="width:${listWidth};height:${listHeight};overflow:auto" class="xspContainerListBodyWrapper" dojoAttachEvent="onmouseover: _listSet, onmouseout: _listUnset, onclick:_listClick, ondblclick:_listDblClick, onkeypress:_listKeyPress, onscroll:_listOnScroll">
					<ul dojoAttachPoint="containerList" class="xspContainerBody" style="width: 100%"></ul>
				</div>
			</div>
		</td>
		<td class="tdButtonContainer">
			<div class="buttonContainer">
				<button dojoAttachPoint="newItemButton" type="button">New</button><br />
				<button dojoAttachPoint="moveItemUpButton" type="button">Move Up</button><br />
				<button dojoAttachPoint="moveItemDownButton" type="button">Move Down</button><br />
				<button dojoAttachPoint="removeItemButton" type="button">Delete</button>
			</div>
		</td>
	</tr>
</table>